/*Спасибо за замечание! 
Пробовал раскидать стили по файлам и не удалил свои тесты:((
Нужно прекращать работать ночью.*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 0 24px 16px;
    margin: 0 auto;
    min-width: 288px;

}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        padding: 88px 24px 24px;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 92px 48px 24px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
    max-width: 1184px;
    }
}